# 보스턴 주택가격 예측 분석 - 1

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [ ]:
train_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [ ]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [ ]:
train_df.drop(['Street','Alley','Utilities','Condition2','RoofMatl','BsmtFinType2',
'BsmtFinSF2','Heating','LowQualFinSF','WoodDeckSF','OpenPorchSF',
'PoolArea','PoolQC','MiscFeature','MiscVal','MoSold','YrSold'], axis = 'columns', inplace=True)

test_df.drop(['Street','Alley','Utilities','Condition2','RoofMatl','BsmtFinType2',
'BsmtFinSF2','Heating','LowQualFinSF','WoodDeckSF','OpenPorchSF',
'PoolArea','PoolQC','MiscFeature','MiscVal','MoSold','YrSold'], axis = 'columns', inplace=True)

In [ ]:
train_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,...,GarageQual,GarageCond,PavedDrive,EnclosedPorch,Porch_3Ssn,ScreenPorch,Fence,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Reg,Lvl,Inside,Gtl,CollgCr,...,TA,TA,Y,0,0,0,NaN,WD,Normal,208500
1,2,20,RL,80.0,9600,Reg,Lvl,FR2,Gtl,Veenker,...,TA,TA,Y,0,0,0,NaN,WD,Normal,181500
2,3,60,RL,68.0,11250,IR1,Lvl,Inside,Gtl,CollgCr,...,TA,TA,Y,0,0,0,NaN,WD,Normal,223500
3,4,70,RL,60.0,9550,IR1,Lvl,Corner,Gtl,Crawfor,...,TA,TA,Y,272,0,0,NaN,WD,Abnorml,140000
4,5,60,RL,84.0,14260,IR1,Lvl,FR2,Gtl,NoRidge,...,TA,TA,Y,0,0,0,NaN,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Reg,Lvl,Inside,Gtl,Gilbert,...,TA,TA,Y,0,0,0,NaN,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Reg,Lvl,Inside,Gtl,NWAmes,...,TA,TA,Y,0,0,0,MnPrv,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Reg,Lvl,Inside,Gtl,Crawfor,...,TA,TA,Y,0,0,0,GdPrv,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Reg,Lvl,Inside,Gtl,NAmes,...,TA,TA,Y,112,0,0,NaN,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Reg,Lvl,Inside,Gtl,Edwards,...,TA,TA,Y,0,0,0,NaN,WD,Normal,147500

In [ ]:
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,...,GarageArea,GarageQual,GarageCond,PavedDrive,EnclosedPorch,Porch_3Ssn,ScreenPorch,Fence,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Reg,Lvl,Inside,Gtl,NAmes,...,730.0,TA,TA,Y,0,0,120,MnPrv,WD,Normal
1,1462,20,RL,81.0,14267,IR1,Lvl,Corner,Gtl,NAmes,...,312.0,TA,TA,Y,0,0,0,NaN,WD,Normal
2,1463,60,RL,74.0,13830,IR1,Lvl,Inside,Gtl,Gilbert,...,482.0,TA,TA,Y,0,0,0,MnPrv,WD,Normal
3,1464,60,RL,78.0,9978,IR1,Lvl,Inside,Gtl,Gilbert,...,470.0,TA,TA,Y,0,0,0,NaN,WD,Normal
4,1465,120,RL,43.0,5005,IR1,HLS,Inside,Gtl,StoneBr,...,506.0,TA,TA,Y,0,0,144,NaN,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Reg,Lvl,Inside,Gtl,MeadowV,...,0.0,NaN,NaN,Y,0,0,0,NaN,WD,Normal
1455,2916,160,RM,21.0,1894,Reg,Lvl,Inside,Gtl,MeadowV,...,286.0,TA,TA,Y,0,0,0,NaN,WD,Abnorml
1456,2917,20,RL,160.0,20000,Reg,Lvl,Inside,Gtl,Mitchel,...,576.0,TA,TA,Y,0,0,0,NaN,WD,Abnorml
1457,2918,85,RL,62.0,10441,Reg,Lvl,Inside,Gtl,Mitchel,...,0.0,NaN,NaN,Y,0,0,0,MnPrv,WD,Normal
1458,2919,60,RL,74.0,9627,Reg,Lvl,Inside,Mod,Mitchel,...,650.0,TA,TA,Y,0,0,0,NaN,WD,Normal

In [ ]:
#Train 데이터 범주형 변수 더미화
dummy_list = list(train_df.select_dtypes(include =['object']).columns)
dummies = pd.get_dummies(train_df[dummy_list], prefix = dummy_list)
train_df.drop(dummy_list, axis = 1, inplace = True)
X = pd.concat([train_df, dummies], axis = 1)

#Test 데이터 데이터 범주형 변수 더미화
dummy_list = list(test_df.select_dtypes(include =['object']).columns)
dummies = pd.get_dummies(test_df[dummy_list], prefix = dummy_list)
test_df.drop(dummy_list, axis = 1, inplace = True)
Y = pd.concat([test_df, dummies], axis = 1)

In [ ]:
X

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,6,5,1999,2000,0.0,0,...,0,0,0,1,0,0,0,0,1,0
1456,1457,20,85.0,13175,6,6,1978,1988,119.0,790,...,0,0,0,1,0,0,0,0,1,0
1457,1458,70,66.0,9042,7,9,1941,2006,0.0,275,...,0,0,0,1,0,0,0,0,1,0
1458,1459,20,68.0,9717,5,6,1950,1996,0.0,49,...,0,0,0,1,0,0,0,0,1,0
1459,1460,20,75.0,9937,5,6,1965,1965,0.0,830,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
Y

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,0,0,0,1,0,0,0,0,1,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,0,0,0,1,0,0,0,0,1,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,0,0,0,1,0,0,0,0,1,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,0,0,0,1,0,0,0,0,1,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,21.0,1936,4,7,1970,1970,0.0,0.0,...,0,0,0,1,0,0,0,0,1,0
1455,2916,160,21.0,1894,4,5,1970,1970,0.0,252.0,...,0,0,0,1,1,0,0,0,0,0
1456,2917,20,160.0,20000,5,7,1960,1996,0.0,1224.0,...,0,0,0,1,1,0,0,0,0,0
1457,2918,85,62.0,10441,5,5,1992,1992,0.0,337.0,...,0,0,0,1,0,0,0,0,1,0
1458,2919,60,74.0,9627,7,5,1993,1994,94.0,758.0,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
#Train 데이터 Missing 값 처리
cols=list(train_df)
for col in list(train_df):
    if (train_df[col].isnull().sum())==0:
        cols.remove(col)
    else:
        pass
print(len(cols))
#3개

#Test 데이터 Missing 값 처리
cols=list(test_df)
for col in list(test_df):
    if (test_df[col].isnull().sum())==0:
        cols.remove(col)
    else:
        pass
print(len(cols))
#10개

15
27

In [ ]:
#Train 데이터 Missing값 처리
for col in ('LotFrontage', 'MasVnrArea', 'GarageYrBlt'):
    train_df[col] = train_df[col].fillna(0)

#Test 데이터 Missing값 처리
for col in ('BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath', 'BsmtHalfBath', 'GarageCars', 'GarageArea', 'GarageYrBlt', 'LotFrontage', 'MasVnrArea'):
    test_df[col] = test_df[col].fillna(0)

In [ ]:
train_df.info()

In [ ]:
data = train_df.drop('SalePrice', axis=1).values
target = train_df['SalePrice'].values

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
Lasso = Lasso()
Lasso.fit(data, target)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.963e+11, tolerance: 9.208e+08
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [ ]:
predict = Lasso.predict(test_df)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:432: UserWarning: X has feature names, but Lasso was fitted without feature names
  warnings.warn(

In [ ]:
predict

array([116000.06051324, 150052.72174397, 170008.21162133, ...,
       165016.14668529, 114794.9690557 , 252108.14189729])

In [ ]:
result =pd.DataFrame({
    'Id': test_df['Id'],
    'SalePrice': predict
})
result.to_csv('result_Lasso.csv', index=False)

# 보스턴 주택가격 예측 분석 - 2

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import norm
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [ ]:
train_df.drop(['Street','PoolQC','Alley','Utilities','Condition2','RoofMatl','BsmtFinType2',
'BsmtFinSF2','Heating','LowQualFinSF','WoodDeckSF','OpenPorchSF',
'PoolArea','MiscFeature','MiscVal','MoSold','YrSold'], axis = 'columns', inplace=True)

test_df.drop(['Street','PoolQC','Alley','Utilities','Condition2','RoofMatl','BsmtFinType2',
'BsmtFinSF2','Heating','LowQualFinSF','WoodDeckSF','OpenPorchSF',
'PoolArea','MiscFeature','MiscVal','MoSold','YrSold'], axis = 'columns', inplace=True)

In [ ]:
#Target 변수 확인
figure, (ax1, ax2) = plt.subplots(nrows=1, ncols=2)
figure.set_size_inches(15,5)
sns.distplot(train_df['SalePrice'], fit=norm, ax=ax1)
sns.distplot(np.log(train_df['SalePrice']), fit=norm, ax=ax2)

In [ ]:
Condition_var = ['OverallQual','OverallCond','ExterQual','ExterCond']
Condition_Ex = train_df[Condition_var]

Condition_Ex = Condition_Ex.replace(to_replace='Ex',value = 5)
Condition_Ex = Condition_Ex.replace(to_replace='Gd',value = 4)
Condition_Ex = Condition_Ex.replace(to_replace='TA',value = 3)
Condition_Ex = Condition_Ex.replace(to_replace='Fa',value = 2)
Condition_Ex = Condition_Ex.replace(to_replace='Po',value = 1)
Condition_Ex = Condition_Ex.replace(to_replace='None',value = 0)
Condition_Ex = Condition_Ex.replace(to_replace='',value = 0)
Condition_Ex = Condition_Ex.replace(to_replace='NA',value = 0)

In [ ]:
train_df['New_var1'] = Condition_Ex['OverallQual'] + Condition_Ex['OverallCond'] + Condition_Ex['ExterQual'] + Condition_Ex['ExterCond']

In [ ]:
Condition_var = ['OverallQual','OverallCond','ExterQual','ExterCond']
Condition_Ex = test_df[Condition_var]

Condition_Ex = Condition_Ex.replace(to_replace='Ex',value = 5)
Condition_Ex = Condition_Ex.replace(to_replace='Gd',value = 4)
Condition_Ex = Condition_Ex.replace(to_replace='TA',value = 3)
Condition_Ex = Condition_Ex.replace(to_replace='Fa',value = 2)
Condition_Ex = Condition_Ex.replace(to_replace='Po',value = 1)
Condition_Ex = Condition_Ex.replace(to_replace='None',value = 0)
Condition_Ex = Condition_Ex.replace(to_replace='',value = 0)
Condition_Ex = Condition_Ex.replace(to_replace='NA',value = 0)

In [ ]:
test_df['New_var1'] = Condition_Ex['OverallQual'] + Condition_Ex['OverallCond'] + Condition_Ex['ExterQual'] + Condition_Ex['ExterCond']

In [ ]:
train_df=train_df.drop(train_df[(train_df['TotalBsmtSF'] > 4000) | (train_df['FlrSF_1st'] > 300000) | (train_df['FlrSF_2nd'] > 1700) | (train_df['GrLivArea'] > 4000)].index)

In [ ]:
train_df['New_var2'] = train_df['TotalBsmtSF'] + train_df['FlrSF_1st'] + train_df['FlrSF_2nd'] + train_df['GrLivArea']
test_df['New_var2'] = test_df['TotalBsmtSF'] + test_df['FlrSF_1st'] + test_df['FlrSF_2nd'] + test_df['GrLivArea']

In [ ]:
train_df['New_var3'] = train_df['BsmtFullBath'] + train_df['BsmtHalfBath']/2 + train_df['FullBath'] + train_df['HalfBath']/2
test_df['New_var3'] = test_df['BsmtFullBath'] + test_df['BsmtHalfBath']/2 + test_df['FullBath'] + test_df['HalfBath']/2

In [ ]:
Under_Cond_var1 = ['BsmtQual','BsmtCond']
Under_Cond_Ex1 = train_df[Under_Cond_var1]

Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Ex',value = 5)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Gd',value = 4)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='TA',value = 3)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Fa',value = 2)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Po',value = 1)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='None',value = 0)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='',value = 0)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='NA',value = 0)

Under_Cond_var2 = ['BsmtExposure','BsmtFinType1']
Under_Cond_Ex2 = train_df[Under_Cond_var2]

Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Gd',value = 4)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Av',value = 3)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Mn',value = 2)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='No',value = 1)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='None',value = 0)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='',value = 0)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='NA',value = 0)

Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='GLQ',value = 4)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='ALQ',value = 3)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='BLQ',value = 2)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Rec',value = 1)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='LwQ',value = 1)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Unf',value = 1)

train_df['New_var4'] = Under_Cond_Ex1['BsmtQual'] + Under_Cond_Ex1['BsmtCond'] +Under_Cond_Ex2['BsmtExposure'] + Under_Cond_Ex2['BsmtFinType1']

In [ ]:
Under_Cond_var1 = ['BsmtQual','BsmtCond']
Under_Cond_Ex1 = test_df[Under_Cond_var1]

Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Ex',value = 5)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Gd',value = 4)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='TA',value = 3)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Fa',value = 2)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='Po',value = 1)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='None',value = 0)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='',value = 0)
Under_Cond_Ex1 = Under_Cond_Ex1.replace(to_replace='NA',value = 0)

Under_Cond_var2 = ['BsmtExposure','BsmtFinType1']
Under_Cond_Ex2 = test_df[Under_Cond_var2]

Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Gd',value = 4)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Av',value = 3)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Mn',value = 2)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='No',value = 1)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='None',value = 0)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='',value = 0)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='NA',value = 0)

Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='GLQ',value = 4)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='ALQ',value = 3)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='BLQ',value = 2)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Rec',value = 1)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='LwQ',value = 1)
Under_Cond_Ex2 = Under_Cond_Ex2.replace(to_replace='Unf',value = 1)

test_df['New_var4'] = Under_Cond_Ex1['BsmtQual'] + Under_Cond_Ex1['BsmtCond'] +Under_Cond_Ex2['BsmtExposure'] + Under_Cond_Ex2['BsmtFinType1']

In [ ]:
Land_var = ['LotShape','LandContour']
Land_Ex = train_df[Land_var]

Land_Ex = Land_Ex.replace(to_replace='IR1',value = 0)
Land_Ex = Land_Ex.replace(to_replace='IR2',value = 0)
Land_Ex = Land_Ex.replace(to_replace='IR3',value = 0)
Land_Ex = Land_Ex.replace(to_replace='Reg',value = 1)

Land_Ex = Land_Ex.replace(to_replace='None',value = 0)
Land_Ex = Land_Ex.replace(to_replace='',value = 0)
Land_Ex = Land_Ex.replace(to_replace='NA',value = 0)

Land_Ex = Land_Ex.replace(to_replace='Bnk',value = 0)
Land_Ex = Land_Ex.replace(to_replace='HLS',value = 0)
Land_Ex = Land_Ex.replace(to_replace='Low',value = 0)
Land_Ex = Land_Ex.replace(to_replace='Lvl',value = 1)

train_df['New_var5'] = Land_Ex['LotShape'] + Land_Ex['LandContour']

In [ ]:
Land_var = ['LotShape','LandContour']
Land_Ex = test_df[Land_var]

Land_Ex = Land_Ex.replace(to_replace='IR1',value = 0)
Land_Ex = Land_Ex.replace(to_replace='IR2',value = 0)
Land_Ex = Land_Ex.replace(to_replace='IR3',value = 0)
Land_Ex = Land_Ex.replace(to_replace='Reg',value = 1)

Land_Ex = Land_Ex.replace(to_replace='None',value = 0)
Land_Ex = Land_Ex.replace(to_replace='',value = 0)
Land_Ex = Land_Ex.replace(to_replace='NA',value = 0)

Land_Ex = Land_Ex.replace(to_replace='Bnk',value = 0)
Land_Ex = Land_Ex.replace(to_replace='HLS',value = 0)
Land_Ex = Land_Ex.replace(to_replace='Low',value = 0)
Land_Ex = Land_Ex.replace(to_replace='Lvl',value = 1)

test_df['New_var5'] = Land_Ex['LotShape'] + Land_Ex['LandContour']

In [ ]:
Garage_var = ['GarageFinish','GarageQual','GarageCond']
Garage_Ex = train_df[Garage_var]

Garage_Ex = Garage_Ex.replace(to_replace='Ex',value = 5)
Garage_Ex = Garage_Ex.replace(to_replace='Gd',value = 4)
Garage_Ex = Garage_Ex.replace(to_replace='TA',value = 3)
Garage_Ex = Garage_Ex.replace(to_replace='Fa',value = 2)
Garage_Ex = Garage_Ex.replace(to_replace='Po',value = 1)
Garage_Ex = Garage_Ex.replace(to_replace='None',value = 0)
Garage_Ex = Garage_Ex.replace(to_replace='',value = 0)
Garage_Ex = Garage_Ex.replace(to_replace='NA',value = 0)

Garage_Ex = Garage_Ex.replace(to_replace='Fin',value = 3)
Garage_Ex = Garage_Ex.replace(to_replace='RFn',value = 2)
Garage_Ex = Garage_Ex.replace(to_replace='Unf',value = 1)

train_df['New_var6'] = Garage_Ex['GarageFinish'] + Garage_Ex['GarageQual'] + Garage_Ex['GarageCond']

In [ ]:
Garage_var = ['GarageFinish','GarageQual','GarageCond']
Garage_Ex = test_df[Garage_var]

Garage_Ex = Garage_Ex.replace(to_replace='Ex',value = 5)
Garage_Ex = Garage_Ex.replace(to_replace='Gd',value = 4)
Garage_Ex = Garage_Ex.replace(to_replace='TA',value = 3)
Garage_Ex = Garage_Ex.replace(to_replace='Fa',value = 2)
Garage_Ex = Garage_Ex.replace(to_replace='Po',value = 1)
Garage_Ex = Garage_Ex.replace(to_replace='None',value = 0)
Garage_Ex = Garage_Ex.replace(to_replace='',value = 0)
Garage_Ex = Garage_Ex.replace(to_replace='NA',value = 0)

Garage_Ex = Garage_Ex.replace(to_replace='Fin',value = 3)
Garage_Ex = Garage_Ex.replace(to_replace='RFn',value = 2)
Garage_Ex = Garage_Ex.replace(to_replace='Unf',value = 1)

In [ ]:
test_df['New_var6'] = Garage_Ex['GarageFinish'] + Garage_Ex['GarageQual'] + Garage_Ex['GarageCond']

In [ ]:
train_df['New_var7'] = ((2020 - train_df['YearBuilt']) + (2020 - train_df['YearRemodAdd'])) / 2
test_df['New_var7'] = ((2020 - test_df['YearBuilt']) + (2020 - test_df['YearRemodAdd'])) / 2

In [ ]:
# Train 파생변수 관련 변수 제외
train_df.drop(['OverallQual','OverallCond','ExterQual','ExterCond',
               'TotalBsmtSF','FlrSF_1st','FlrSF_2nd','GrLivArea',
               'BsmtFullBath','BsmtHalfBath','FullBath','HalfBath',
               'BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1',
               'LotShape','LandContour',
               'GarageFinish','GarageQual','GarageCond',
               'YearBuilt','YearRemodAdd','Electrical'], axis = 'columns', inplace=True)

In [ ]:
# Test 파생변수 관련 변수 제외
test_df.drop(['OverallQual','OverallCond','ExterQual','ExterCond',
               'TotalBsmtSF','FlrSF_1st','FlrSF_2nd','GrLivArea',
               'BsmtFullBath','BsmtHalfBath','FullBath','HalfBath',
               'BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1',
               'LotShape','LandContour',
               'GarageFinish','GarageQual','GarageCond',
               'YearBuilt','YearRemodAdd','Electrical'], axis = 'columns', inplace=True)

In [ ]:
for col in ('MasVnrType','FireplaceQu','GarageType','Fence'):
    train_df[col] = train_df[col].fillna('None')
,
for col in ('New_var1','New_var2','New_var3','New_var4','New_var5','New_var6','New_var7', 'LotFrontage','MasVnrArea','GarageYrBlt', 'BsmtFinSF1' ,'GarageCars', 'GarageArea', 'BsmtUnfSF'):
    train_df[col] = train_df[col].fillna(0)

for col in ('MSZoning', 'KitchenQual', 'Exterior1st', 'Exterior2nd', 'SaleType', 'Functional'):
    train_df[col] = train_df[col].fillna(test_df[col].mode()[0])

In [ ]:
for col in ('MasVnrType','FireplaceQu','GarageType','Fence'):
    test_df[col] = test_df[col].fillna('None')

for col in ('New_var1','New_var2','New_var3','New_var4','New_var5','New_var6','New_var7', 'LotFrontage','MasVnrArea','GarageYrBlt', 'BsmtFinSF1' ,'GarageCars', 'GarageArea', 'BsmtUnfSF'):
    test_df[col] = test_df[col].fillna(0)

for col in ('MSZoning', 'KitchenQual', 'Exterior1st', 'Exterior2nd', 'SaleType', 'Functional'):
    test_df[col] = test_df[col].fillna(test_df[col].mode()[0])

변수 추가

In [ ]:
mapping_data = {"1.5Unf": 0, "SFoyer": 0, "1.5Fin": 0,"2.5Unf":1,'SLvl':1,"1Story":1,"2Story":2,"2.5Fin":2}
train_df['HouseStyle'] = train_df['HouseStyle'].map(mapping_data)
test_df['HouseStyle'] = test_df['HouseStyle'].map(mapping_data)

In [ ]:
train_df['PoolQC'] = train_df['PoolQC'].fillna(0)
test_df['PoolQC'] = test_df['PoolQC'].fillna(0)

In [ ]:
train_df['PoolQC'] = train_df['PoolQC'].map({'Ex': 3, 'Fa': 2, 'Gd': 1}).fillna(0).astype(int)
test_df['PoolQC'] = test_df['PoolQC'].map({'Ex': 3, 'Fa': 2, 'Gd': 1}).fillna(0).astype(int)

In [ ]:
train_df['Street'] = train_df['Street'].map({'Grvl': 0, 'Pave': 1}).astype('int')
test_df['Street'] = test_df['Street'].map({'Grvl': 0, 'Pave': 1}).astype('int') # Grvl 비포장도로, Pave 포장도로

In [ ]:
dummy_list = list(train_df.select_dtypes(include =['object']).columns)
dummies = pd.get_dummies(train_df[dummy_list], prefix = dummy_list)
train_df.drop(dummy_list, axis = 1, inplace = True)
X = pd.concat([train_df, dummies], axis = 1)

dummy_list = list(test_df.select_dtypes(include =['object']).columns)
dummies = pd.get_dummies(test_df[dummy_list], prefix = dummy_list)
test_df.drop(dummy_list, axis = 1, inplace = True)
X = pd.concat([test_df, dummies], axis = 1)

In [ ]:
train_target = train_df['SalePrice']
train_df = train_df[list(test_df)]
train_target = np.log(train_target)

SVR

In [ ]:
# SVR

from sklearn.svm import SVR
from sklearn.preprocessing import StandardScaler

# SVR 모델 초기화
svr_model = SVR()

# 모델 학습
svr_model.fit(train_df, train_target)

# 테스트 데이터에 대한 예측
predict = svr_model.predict(test_df)
predict = np.exp(predict)

# 결과 DataFrame 생성
result = pd.DataFrame({'Id': test_df['Id'], 'SalePrice': predict})

# 결과를 CSV 파일로 저장
result.to_csv('result_SVR_final.csv', index=False)

CatBoostRegressor

In [ ]:
# CatBoostRegressor (추가)
from catboost import CatBoostRegressor

In [ ]:
Cat = CatBoostRegressor(random_seed=42)
Cat.fit(train_df, train_target)

In [ ]:
predict = Cat.predict(test_df)
predict = np.exp(predict)
result =pd.DataFrame({
    'Id': test_df['Id'],
    'SalePrice': predict
})
result.to_csv('result_catboost_final.csv', index=False)

Lasso

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
Lasso = Lasso()
Lasso.fit(train_df, train_target)

In [ ]:
predict = Lasso.predict(test_df)
predict = np.exp(predict)
result =pd.DataFrame({
    'Id': test_df['Id'],
    'SalePrice': predict
})
result.to_csv('result_Lasso1.csv', index=False)

GradientBoostingRegressor

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import metrics

In [ ]:
GBoost = GradientBoostingRegressor()
GBoost.fit(train_df, train_target)

GradientBoostingRegressor()

In [ ]:
predict = GBoost.predict(test_df)
predict = np.exp(predict)
result =pd.DataFrame({
    'Id': test_df['Id'],
    'SalePrice': predict
})
result.to_csv('result_GBoost_all.csv', index=False)

XGBRegressor

In [ ]:
from xgboost import XGBRegressor

In [ ]:
XGB = XGBRegressor()
XGB.fit(train_df, train_target)

In [ ]:
predict = XGB.predict(test_df)
predict = np.exp(predict)
result = pd.DataFrame({
    'Id': test_df['Id'],
    'SalePrice': predict
})
result.to_csv('result_XGB.csv', index=False)